<br />
<h2>Информация о клиенте</h2>

<div class="form-group">

    <label>Id</label>
    <input type="string" [(ngModel)]="editedUser.id" readonly disabled  
        class="form-control" /><br />
                
    <label>Имя</label><br />
    <input type="string" [(ngModel)]="editedUser.firstName"  
        class="form-control" /><br />

    <label>Дата рождения</label><br />
    <input type="date" 
        [(ngModel)]="editedUser.dob" 
        class="form-control" /><br />
               
    <label>Группа риска</label><br />
    <input type="string" [(ngModel)]="editedUser.riskGroup"  
        class="form-control" /><br />
                
    <label>Номер паспорта</label><br />
    <input type="string" [(ngModel)]="editedUser.pasportNumber"  
        class="form-control" /><br />
        
    <button class="btn btn-success m-a-1" (click) = "saveClient()">
        Сохранить изменения
    </button>
    <button class="btn btn-warning m-a-1" (click) = "cancel()">
        Отмена
    </button>
</div>

